<%= form_with(model: budget, local: true) do |f| %>
<%= render 'shared/errors', instance: @budget %>

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, style: 'text-transform: capitalize;' %>
  </div>
<br>
  <div class="field">
    <%= f.label :amount %>
    <br>
    <%= f.text_field :amount %>
  </div>
<br>
  <div class="field">
    <%= f.label :month, 'For the month of:' %>
    <br>
    <%= f.select :month, @budget.current_budget_months %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
