<h2><%= @budget.month %> <%= @budget.name %> budget: <%= @budget.amount %></h2>
<p>Cash-back earned: $<%= cash_back_earned(@budget) %></p>
<%= link_to 'Edit', edit_budget_url %>
<br><br>
<p><%= render 'shared/purchase_list', parent: @budget %></p>
