<br><br>
<div>
<%= form_with(model: @purchase, local: true) do |f| %>
<%= render 'shared/errors', instance: @purchase %>

  <div class="field">
    <%= f.label :date %>
    <br>
    <%= f.date_field :date %>
  </div>
<br>
  <div class="field">
    <%= f.label :amount %>
    <br>
    <%= f.text_field :amount %>
  </div>
<br>
  <div class="field">
    <%= f.label :budget_id, 'For which budget?' %>
    <br>
    <%= f.select :budget_id, current_user.budgets.map{|b| [b.name, b.id]} %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<br>
<%= link_to 'Delete', purchase_path(@purchase), method:'delete' %>
