<br><br>
<div>
<%= form_for [@card, @purchase] do |f| %>
<%= render 'shared/errors', instance: @purchase %>

  <div class="field">
    <%= f.label :date %>
    <br>
    <%= f.date_field :date %>
  </div>
<br>
  <div class="field">
    <%= f.label :amount %>
    <br>
    <%= f.text_field :amount %>
  </div>
<br>
  <div class="field">
    <%= f.label :budget_id, 'For which budget?' %>
    <br>
    <%= f.select :budget_id, current_user.budgets.current_budgets.map{|b| [b.name, b.id] } %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
