<%= form_with(model: card, local: true) do |f| %>
<%= render 'shared/errors', instance: @card %>

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.select :name, ['Amex', 'Visa', 'Mastercard', 'Discover', 'Cash/Check'] %>
  </div>
<br>
  <div class="field">
    <%= f.label :last_digits, 'Last 4 digits' %>
    <br>
    <%= f.text_field :last_digits %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
